<title>REGISTRATION | Registrationpage</title>
<div id="playersListApp" class="col-md-8"></div>
    <script type="text/javascript">
            var user = '{{{name}}}'
    </script>
<script type="text/javascript" src="http://localhost:8080/js/register.min.js"></script>